@use './variables.scss' as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my_subtitle{
  color: $secondarygreen;
}

.my_comp_bg_blu{
  background-color: $primaryblu;
}

.my_bg_float{
  background-color: $secondaryblu;
}

.my_bg_tertiary_blu {
  background-color: $tertiaryblu;
}

.my_bg_secondary_green {
  background-color: $secondarygreen;
}

.my_img-fluid{
  width: 100%;
  height: 100%;
}

.my_round {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  .my_round_img{
      width: 20px;
      height: 20px;
      filter: invert(1);
  }
}

.btn_more{
  padding: 10px 25px;
  background-color: $secondarygreen;
  color: $primaryblu;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid $secondarygreen;
    color: $secondarygreen;

    .my_arrow {
        filter: invert(69%) sepia(15%) saturate(6025%) hue-rotate(106deg) brightness(90%) contrast(96%);
    }
  }

  .my_arrow{
    width: 25px;
    filter: invert(9%) sepia(9%) saturate(4253%) hue-rotate(202deg) brightness(97%) contrast(97%);
  }
}

.my_play {
  background-color: $secondarygreen;

  .my_play_svg{
      filter: invert(9%) sepia(9%) saturate(4253%) hue-rotate(202deg) brightness(97%) contrast(97%);
  }
}