@use './variables.scss' as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my_subtitle{
  color: $secondarygreen;
}

.my_title {
  font-size: 48px;
}

.my_hover_link:hover {
  color: $secondarygreen !important;
}

.my_arrow {
  top: -18%;
  right: 1%;

  

  .my_arrow_bg_left {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    .arrow_left{
      width: 15px;
      height: 15px;
    }
  }

  .my_arrow_bg_right {
    background-color: $secondarygreen;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    .arrow_right{
      width: 15px;
      height: 15px;
      filter: invert(1);
    }
  }
}

.my_stream{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $secondarygreen;
  
  .my_stream_svg{
    width: 15px;
    height: 15px;
    filter: invert(8%) sepia(10%) saturate(5631%) hue-rotate(210deg) brightness(97%) contrast(95%);
  }
}


.my_comp_bg_blu{
  background-color: $primaryblu;
}

.text_primary_blu {
  color: $primaryblu;
}

.my_bg_float{
  background-color: $secondaryblu;
}

.my_bg_tertiary_blu {
  background-color: $tertiaryblu;
}

.my_color_primary_green {
  color: $primarygreen;
}

.my_bg_secondary_green {
  background-color: $secondarygreen;
}

.my_img-fluid{
  width: 100%;
  height: 100%;
}

.my_round {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  .my_round_img{
      width: 20px;
      height: 20px;
      filter: invert(1);
  }
}

.btn_more{
  padding: 10px 25px;
  background-color: $secondarygreen;
  color: $primaryblu;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: inset 0 0 2px $secondarygreen;
    color: $secondarygreen;

    .my_arrow {
        filter: invert(69%) sepia(15%) saturate(6025%) hue-rotate(106deg) brightness(90%) contrast(96%);
    }
  }

  .my_arrow{
    width: 25px;
    filter: invert(9%) sepia(9%) saturate(4253%) hue-rotate(202deg) brightness(97%) contrast(97%);
  }
}

.my_play {
  background-color: $secondarygreen;

  .my_play_svg{
      filter: invert(9%) sepia(9%) saturate(4253%) hue-rotate(202deg) brightness(97%) contrast(97%);
  }
}