// Color variables saved based on gradient

// Blu
$primaryblu: #191935;
$secondaryblu: #202046;
$tertiaryblu: #333287;
$quaternaryblu: #4350ff;

// Green
$primarygreen: #00ac4d;
$secondarygreen: #05cc7c;

// White
$primarywhite: #ffffff;